# compilation and distribution
__pycache__
_ext
*.pyc
*.so
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# pycharm editor settings
.idea

# vscode editor settings
.vscode

exp/
checkpoints/
_DEL_/
datasets/coco
datasets/cocosplit
datasets/VOC2007
datasets/VOC2012
datasets/vocsplit
